*{
  margin: 0;
  padding: 0;
}

body{
}


/*Navbar Start*/


header{
  display: flex;
  align-items: center;
  position: fixed;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  border-bottom: 1px solid black;
  justify-content: space-between;
  padding: 10px 0;
  z-index: 2;
  background-color: white;
}

.logo{
  display: flex;
  align-items: center;
  padding-left: 40px;
}

.logo img{
    margin-right: 10px;
}

.logo span{
  color: MediumAquamarine;
}
nav{
  padding-right: 20px;
}

nav span{
  display: inline-block;
  padding-right: 20px;
}

nav span a{
  color: black;
}


/*Navbar End*/



/*Content Start*/


h2{
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
}
.main{
  z-index: 1;
  display: flex;
  position: relative;
  top: 80px;
}

.first,
.second,
.last{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

/*.storiesf{
    display: flex;
}*/

.center{
    text-align: center;
}

.first{
  width: 630px;
}

.fimg{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}
.one{
  background: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
  width: 630px;
  height: 300px;
  font-size: 40px;
}

.two{
    background: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");
    height: 300px;
}

.three{
  background: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
  height: 300px;
}

.stories{
    display: flex;
    justify-content:space-between;
}

.storiesf{
  width: 300px;
  display: flex;
  flex-direction: column;
}

p{
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.second{
  width: 300px;
}

.last{
  width: 240px;
}
